/* Base -------------------------------------------------------------------------------------------------------------*/
* {
    margin: 0px;
    list-style: none;
    font-weight: normal;
}

a,
p,
li {
    text-decoration: none;
    color: #373737;
    font-weight: normal;
}

body {
    background: #f8f8f2;
    font-weight: normal;
    max-width: 2000px !important;
    margin-left: auto !important;
    margin-right: auto !important;
} 


/*Backgrouds -----------------------------------------------------------------------------------------------------*/

// theme dracula
.bg-gray {background: #282a36 !important;}
.bg-red {background: #ff5555 !important;}
.bg-green {background: #50fa7b !important;}
.bg-yellow {background: #f1fa8c !important;}
.bg-blue {background: #6272a4 !important;}
.bg-purple {background: #bd93f9 !important;}
.bg-cyan {background: #8be9fd !important;}
.bg-white {background: #f8f8f2 !important;}
.bg-black {background: #000000 !important;}
.bg-FindHere {background-image: url('../FindHere.jpg') !important;}

/* text colors -----------------------------------------------------------------------------------------------------*/
.text-gray {color: #282a36 !important;}
.text-red {color: #ff5555 !important;}
.text-green {color: #50fa7b !important;}
.text-yellow {color: #f1fa8c !important;}
.text-blue {color: #6272a4 !important;}
.text-purple {color: #bd93f9 !important;}
.text-cyan {color: #8be9fd !important;}
.text-white {color: #f8f8f2 !important;}
.text-black {color: #000000 !important;}


/* Effects -------------------------------------------------------------------------------------------------------------*/

.itens {
  position: relative;
}

.itens::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 10px;
}

.itens:hover::before {
  opacity: 1;
}

.itens:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.itens2 {
  position: relative;
}

.itens2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 20px;
}

.itens2:hover::before {
  opacity: 1;
}

.itens2:hover {
  cursor: pointer;
  transform: scale(1.01);
}

/* Button Header */

.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: #FF5555;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
  /* link */
  
  .linkMenu {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .linkMenu:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #f8f8f2;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .linkMenu:hover:before{
    left: 0;
    right: 0;
    width: 100%;
  }

  .handlePageChange{
    height: 5px !important;
    width: 10px !important;
  }
  
